html {
  /*Remove Gray Highlight When Tapping Links in Mobile Safari*/
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color*/
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a:link {
  color: #333;
  text-decoration: none;
}

a:hover,
a.MuiLink-root:hover {
  color: #666;
  opacity: 0.8;
  text-decoration: none;
}

a {
  color: #333;
  cursor: pointer;
  line-height: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a.MuiLink-underlineHover:hover {
  text-decoration: none !important;
  color: #666;
  opacity: 0.8;
  text-decoration: none;
}

/* ============================ Reset CSS ========================================== */
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-style: none;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: 0;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  background: 0;
  border: 0;
  border-radius: 0;
}

ol,
ul {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
/* ============================ Reset CSS ========================================== */

/* ============================ Scrollbar ========================================== */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(153, 153, 102);
}

#root {
  /* max-width: 1280px; */
  width: 100%;
  /* margin-top: 2.5rem; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
